.root{
	-fx-background-color: #5cada7;
	-fx-max-width: 70%;
	-fx-max-height: 70%;
}

.split-pane{
	-fx-background-color: #ffffff;
}

.button{
	-fx-background-color: #248179;
	-fx-border-style: solid;
	-fx-border-color: #ffffff;
	-fx-border-width: 3px;
	
	-fx-font-size: 15px;
}

.button:hover{
	-fx-background-color: #2c9b92;
}
